/*********General Styles**********/

body {
  background: linear-gradient(#b3cde0, #e5f3fc) no-repeat center;
  background-size: 400vh;
  color: #03396c;
}

.hideMe {
  display: none;
}

h2 {
  margin-top: 50px;
}

h2, h3 {
  text-align: center;
}

.form-group {
  margin: 35px;
}

label, .btn {
  font-size: 1.25em;
  line-height: 2em;
  font-weight: normal;
}

.btn {
  background-color: #005b96;
  color: white;
}

strong {
  color: red;
}



/*********Radio Button Styles**********/
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  position: inherit;
  margin-right: 5px;
}

.btn {
  margin-top: 20px;
  display: block;
  float: right;
}

.fill {
  height: 150px;
  display: none;
}

div.radio {
  max-height: 175px;
  min-width:175px;
  display: block;
}

.radio img {
  height: 175px;
  max-width: 175px;
  display: block;
  margin-left: -20px;
  border-radius: 10%;
}

.radio+.radio {
  margin-top: 10px;
}

.flexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexbox label,
.flexbox input {
  flex-grow: 1;
  flex-wrap: wrap;
}



@media screen and (min-width: 500px) {
  .fill {
    display: block;
  }

  h2 {
    margin-top: 100px;
  }
}
